In [1]:
# Import dependencies.
import pandas as pd
from pathlib import Path
import numpy as np

### Prepare the CSV File

In [7]:
# Load the data.
file_path = Path('../Working Resources/Cleaned_geographic_Data.csv')
df = pd.read_csv(file_path)

df = df[['GeoName', 'Description', '2016', '2017', '2018', '2019', '2020']]
df

,GeoName,Description,2016,2017,2018,2019,2020
0,Alabama (Metropolitan Portion),Wage and salary employment,1643706,1664641,1686588,1711156,1643053
1,Alabama (Metropolitan Portion),Proprietors employment Farm proprietors employ...,17653,17142,16771,16389,16466
2,Alabama (Metropolitan Portion),Proprietors employmentNonfarm proprietors empl...,423880,432197,447698,442971,428638
3,Alabama (Metropolitan Portion),Farm employment,21352,21534,20490,19416,19872
4,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,8693,7939,7353,7000,6494
...,...,...,...,...,...,...,...
2254,Wyoming (Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,12381,12314,12727,12546,11896
2255,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises Federal ...,4166,4120,4101,4155,4285
2256,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises Military,2118,2124,2092,2106,2075
2257,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises State an...,10827,10529,10454,10090,9722
2258,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises State an...,35106,34445,33902,34692,33390

### Export as JSON file to selected path

In [11]:
df.to_json ('../Working Resources/Cleaned_geographic_Data.json')

In [14]:
# Encoding/decoding a Dataframe using 'split' formatted JSON:
df.to_json(orient='split')

pd.read_json(_, orient='split')

,GeoName,Description,2016,2017,2018,2019,2020
0,Alabama (Metropolitan Portion),Wage and salary employment,1643706,1664641,1686588,1711156,1643053
1,Alabama (Metropolitan Portion),Proprietors employment Farm proprietors employ...,17653,17142,16771,16389,16466
2,Alabama (Metropolitan Portion),Proprietors employmentNonfarm proprietors empl...,423880,432197,447698,442971,428638
3,Alabama (Metropolitan Portion),Farm employment,21352,21534,20490,19416,19872
4,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,8693,7939,7353,7000,6494
...,...,...,...,...,...,...,...
2254,Wyoming (Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,12381,12314,12727,12546,11896
2255,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises Federal ...,4166,4120,4101,4155,4285
2256,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises Military,2118,2124,2092,2106,2075
2257,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises State an...,10827,10529,10454,10090,9722
2258,Wyoming (Nonmetropolitan Portion) *,Government and government enterprises State an...,35106,34445,33902,34692,33390