In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
# Load the data
file_path = Path('Resources/CAEMP25N_BEA.csv')
df = pd.read_csv(file_path)

In [3]:
#preview data

df.head()

,GeoFips,GeoName,LineCode,Description,2016,2017,2018,2019,2020
0,998,United States (Metropolitan Portion),NaN,Employment by place of work,NaN,NaN,NaN,NaN,NaN
1,998,United States (Metropolitan Portion),10.0,Total employment (number of jobs),169970416,172906517,176616181,178045966,168252028
2,998,United States (Metropolitan Portion),NaN,By type,NaN,NaN,NaN,NaN,NaN
3,998,United States (Metropolitan Portion),20.0,Wage and salary employment,132630405,134570663,136851441,138926673,130532723
4,998,United States (Metropolitan Portion),40.0,Proprietors employment,37340011,38335854,39764740,39119293,37719305

In [4]:
#check data types
df.dtypes

GeoFips         object
GeoName         object
LineCode       float64
Description     object
2016            object
2017            object
2018            object
2019            object
2020            object
dtype: object

In [5]:
#discover all columns in dataframe
df.columns.to_list()

['GeoFips',
 'GeoName',
 'LineCode',
 'Description',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [6]:
#count number of rows 
len(df. index)

4329

In [7]:
#count number of null values in raw dataset
df.isna().sum().sum()

2233

In [8]:
#drop null values 
new_df = df.dropna()

In [9]:
#checking number of rows after dropping null values
len(new_df.index)

3960

In [10]:
#delete GeoFips

del new_df['GeoFips']

In [11]:
#drop lineode
del new_df['LineCode']

In [12]:
new_df.head()

,GeoName,Description,2016,2017,2018,2019,2020
1,United States (Metropolitan Portion),Total employment (number of jobs),169970416,172906517,176616181,178045966,168252028
3,United States (Metropolitan Portion),Wage and salary employment,132630405,134570663,136851441,138926673,130532723
4,United States (Metropolitan Portion),Proprietors employment,37340011,38335854,39764740,39119293,37719305
5,United States (Metropolitan Portion),Farm proprietors employment,792909,784231,779376,777526,775462
6,United States (Metropolitan Portion),Nonfarm proprietors employment 2/,36547102,37551623,38985364,38341767,36943843

In [13]:
#drop rows where year column has data with 'D' in it. making copy not to mess with new DF

df2= new_df

df2.drop(df2[df2['2016'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2017'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2018'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2019'] == '(D)'].index,inplace = True)
df2.drop(df2[df2['2020'] == '(D)'].index,inplace = True)

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
len(df2.index)

3460

In [15]:
df2.head()

,GeoName,Description,2016,2017,2018,2019,2020
1,United States (Metropolitan Portion),Total employment (number of jobs),169970416,172906517,176616181,178045966,168252028
3,United States (Metropolitan Portion),Wage and salary employment,132630405,134570663,136851441,138926673,130532723
4,United States (Metropolitan Portion),Proprietors employment,37340011,38335854,39764740,39119293,37719305
5,United States (Metropolitan Portion),Farm proprietors employment,792909,784231,779376,777526,775462
6,United States (Metropolitan Portion),Nonfarm proprietors employment 2/,36547102,37551623,38985364,38341767,36943843

In [16]:
df2.tail()

,GeoName,Description,2016,2017,2018,2019,2020
4314,Far West (Nonmetropolitan Portion) *,Government and government enterprises,292064,295132,295547,300541,287943
4315,Far West (Nonmetropolitan Portion) *,Federal civilian,26206,25946,25362,25451,26608
4316,Far West (Nonmetropolitan Portion) *,Military,22225,23324,21271,21907,21728
4317,Far West (Nonmetropolitan Portion) *,State and local,243633,245862,248914,253183,239607
4319,Far West (Nonmetropolitan Portion) *,Local government,"180,134 E","181,891 E","184,070 E","184,103 E","170,533 E"

In [17]:
df2.dtypes

GeoName        object
Description    object
2016           object
2017           object
2018           object
2019           object
2020           object
dtype: object

In [36]:
#removing all "E"s from columns and replacing them in data frome 
df2['2016'] = df2['2016'].str.replace('E','')
df2['2017'] = df2['2017'].str.replace('E','')
df2['2018'] = df2['2018'].str.replace('E','')
df2['2019'] = df2['2019'].str.replace('E','')
df2['2020'] = df2['2020'].str.replace('E','')

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
df2.tail()

,GeoName,Description,2016,2017,2018,2019,2020
4314,Far West (Nonmetropolitan Portion) *,Government and government enterprises,292064,295132,295547,300541,287943
4315,Far West (Nonmetropolitan Portion) *,Federal civilian,26206,25946,25362,25451,26608
4316,Far West (Nonmetropolitan Portion) *,Military,22225,23324,21271,21907,21728
4317,Far West (Nonmetropolitan Portion) *,State and local,243633,245862,248914,253183,239607
4319,Far West (Nonmetropolitan Portion) *,Local government,"180,134","181,891","184,070","184,103","170,533"

In [38]:
df2.dtypes

GeoName        object
Description    object
2016           object
2017           object
2018           object
2019           object
2020           object
dtype: object

In [42]:
#dropping all rows with all 0 values

df2.drop(df2[df2['2016'] == '0'].index,inplace = True)
df2.drop(df2[df2['2017'] == '0'].index,inplace = True)
df2.drop(df2[df2['2018'] == '0'].index,inplace = True)
df2.drop(df2[df2['2019'] == '0'].index,inplace = True)
df2.drop(df2[df2['2020'] == '0'].index,inplace = True)

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [43]:
len(df2.index)

3325

In [49]:
#removing commas from all rows 

df2['2016'] = df2['2016'].str.replace(',','')
df2['2017'] = df2['2017'].str.replace(',','')
df2['2018'] = df2['2018'].str.replace(',','')
df2['2019'] = df2['2019'].str.replace(',','')
df2['2020'] = df2['2020'].str.replace(',','')

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [50]:
df2.head()

,GeoName,Description,2016,2017,2018,2019,2020
1,United States (Metropolitan Portion),Total employment (number of jobs),169970416,172906517,176616181,178045966,168252028
3,United States (Metropolitan Portion),Wage and salary employment,132630405,134570663,136851441,138926673,130532723
4,United States (Metropolitan Portion),Proprietors employment,37340011,38335854,39764740,39119293,37719305
5,United States (Metropolitan Portion),Farm proprietors employment,792909,784231,779376,777526,775462
6,United States (Metropolitan Portion),Nonfarm proprietors employment 2/,36547102,37551623,38985364,38341767,36943843

In [51]:
df2.tail()

,GeoName,Description,2016,2017,2018,2019,2020
4314,Far West (Nonmetropolitan Portion) *,Government and government enterprises,292064,295132,295547,300541,287943
4315,Far West (Nonmetropolitan Portion) *,Federal civilian,26206,25946,25362,25451,26608
4316,Far West (Nonmetropolitan Portion) *,Military,22225,23324,21271,21907,21728
4317,Far West (Nonmetropolitan Portion) *,State and local,243633,245862,248914,253183,239607
4319,Far West (Nonmetropolitan Portion) *,Local government,180134,181891,184070,184103,170533

In [54]:
# converting multiple columns to INT for later use 

df2[['2016','2017','2018','2019','2020']] =df2[['2016','2017','2018','2019','2020']].astype(str).astype(int)

C:\Users\palum\anaconda3\envs\GreatRes\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [55]:
#verifying data types

df2.dtypes

GeoName        object
Description    object
2016            int32
2017            int32
2018            int32
2019            int32
2020            int32
dtype: object

In [57]:
df2.head()

,GeoName,Description,2016,2017,2018,2019,2020
1,United States (Metropolitan Portion),Total employment (number of jobs),169970416,172906517,176616181,178045966,168252028
3,United States (Metropolitan Portion),Wage and salary employment,132630405,134570663,136851441,138926673,130532723
4,United States (Metropolitan Portion),Proprietors employment,37340011,38335854,39764740,39119293,37719305
5,United States (Metropolitan Portion),Farm proprietors employment,792909,784231,779376,777526,775462
6,United States (Metropolitan Portion),Nonfarm proprietors employment 2/,36547102,37551623,38985364,38341767,36943843

In [58]:
len(df2)

3325

In [59]:
#exporting cleaned data into new csv file

df2.to_csv('cleaned_geographic_data.csv')