In [1]:
# Data manipulation
# ==============================================================================
import pandas as pd
import numpy as np
from pathlib import Path

# DateTime
# ==============================================================================
import datetime as dt

# Plots
# ==============================================================================
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
plt.rcParams['lines.linewidth'] = 1.5
%matplotlib inline

# Sklearn
# ==============================================================================
from sklearn import preprocessing
from sklearn import model_selection
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

# Modeling and Forecasting
# ==============================================================================
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

from skforecast.ForecasterAutoreg import ForecasterAutoreg
from skforecast.ForecasterAutoregCustom import ForecasterAutoregCustom
from skforecast.ForecasterAutoregDirect import ForecasterAutoregDirect
from skforecast.model_selection import grid_search_forecaster
from skforecast.model_selection import backtesting_forecaster
from skforecast.utils import save_forecaster
from skforecast.utils import load_forecaster

# Warnings configuration
# ==============================================================================
import warnings
# warnings.filterwarnings('ignore')

## Connecting to Database

In [2]:
# Begin connecting to SQl server. 
# ==============================================================================
from sqlalchemy import create_engine

# Import password
from config import db_password

In [3]:
#Create database string.
# ==============================================================================
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Great_Resignation_Analysis"

In [4]:
#Create engine.
engine = create_engine(db_string)

In [5]:
# Load the CSV file as a Pandas DataFrame and preview the DataFrame.
df = pd.read_csv(Path('../Working Resources/Cleaned_geographic_Data.csv'))

# Print shape and info of DataFrame.
print(df.shape)
print(df.info())

# Preview DataFrame.
df.head(10)

(2259, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoName      2259 non-null   object
 1   Description  2259 non-null   object
 2   2016         2259 non-null   int64
 3   2017         2259 non-null   int64
 4   2018         2259 non-null   int64
 5   2019         2259 non-null   int64
 6   2020         2259 non-null   int64
dtypes: int64(5), object(2)
memory usage: 123.7+ KB
None

,GeoName,Description,2016,2017,2018,2019,2020
0,Alabama (Metropolitan Portion),Wage and salary employment,1643706,1664641,1686588,1711156,1643053
1,Alabama (Metropolitan Portion),Proprietors employment Farm proprietors employ...,17653,17142,16771,16389,16466
2,Alabama (Metropolitan Portion),Proprietors employmentNonfarm proprietors empl...,423880,432197,447698,442971,428638
3,Alabama (Metropolitan Portion),Farm employment,21352,21534,20490,19416,19872
4,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,8693,7939,7353,7000,6494
5,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,11940,11334,11181,10875,10701
6,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,114882,116259,121459,125044,123120
7,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,174402,176320,178476,179351,172203
8,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,70131,69696,70679,70423,69298
9,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,226457,226733,226342,224842,217831

In [6]:
# Use particular install for troubleshoot.
# pip install psycopg2-binary==2.8.6

In [7]:
#Saving DataFrame from Pandas to postgreSQL. 
df.to_sql(name='geographic_data',con =engine,index= False, if_exists='replace')

In [8]:
#Checking connection to database.
%load_ext sql
%sql $engine.url

'Connected: postgres@Great_Resignation_Analysis'

In [9]:
#Verifying connection using query.
results =[]
results = %sql SELECT * from geographic_data*

 * postgresql://postgres:***@127.0.0.1:5432/Great_Resignation_Analysis
2259 rows affected.

In [10]:
#Creating dataframe from sql query.
df= pd.DataFrame(results,columns=['GeoName','Description','2016','2017','2018','2019','2020'],index = None)

df.head()

,GeoName,Description,2016,2017,2018,2019,2020
0,Alabama (Metropolitan Portion),Wage and salary employment,1643706,1664641,1686588,1711156,1643053
1,Alabama (Metropolitan Portion),Proprietors employment Farm proprietors employ...,17653,17142,16771,16389,16466
2,Alabama (Metropolitan Portion),Proprietors employmentNonfarm proprietors empl...,423880,432197,447698,442971,428638
3,Alabama (Metropolitan Portion),Farm employment,21352,21534,20490,19416,19872
4,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,8693,7939,7353,7000,6494

## Data Processing

Keep the three industries most affected (Health , Education, Manufacturing) and least affected (IT, Finance, Professional, scientific, and technical services) during the Great Resignation.

In [11]:
# Print Description column.
print(df['Description'])

0                              Wage and salary employment
1       Proprietors employment Farm proprietors employ...
2       Proprietors employmentNonfarm proprietors empl...
3                                         Farm employment
4       Nonfarm employment Private nonfarm employment ...
                              ...
2254    Nonfarm employment Private nonfarm employment ...
2255    Government and government enterprises Federal ...
2256       Government and government enterprises Military
2257    Government and government enterprises State an...
2258    Government and government enterprises State an...
Name: Description, Length: 2259, dtype: object

In [12]:
new_keys = [
'Wage and salary employment', 
'Proprietors employment Farm proprietors employment',
'Proprietors employmentNonfarm proprietors employment 2/',
'Farm employment',
'Nonfarm employment Private nonfarm employment Mining, quarrying, and oil and gas extraction',
'Nonfarm employment Private nonfarm employment Utilities',
'Nonfarm employment Private nonfarm employment Construction',
'Nonfarm employment Private nonfarm employment Manufacturing',
'Nonfarm employment Private nonfarm employment Wholesale trade',
'Nonfarm employment Private nonfarm employment Retail trade',
'Nonfarm employment Private nonfarm employment Information',
'Nonfarm employment Private nonfarm employment Finance and insurance',
'Nonfarm employment Private nonfarm employment Real estate and rental and leasing',
'Nonfarm employment Private nonfarm employment Professional, scientific, and technical services',
'Nonfarm employment Private nonfarm employment Management of companies and enterprises',
'Nonfarm employment Private nonfarm employment Administrative and support and waste management and remediation services',
'Nonfarm employment Private nonfarm employment Educational services',
'Nonfarm employment Private nonfarm employment Health care and social assistance',
'Nonfarm employment Private nonfarm employment Transportation and warehousing',
'Nonfarm employment Private nonfarm employment Forestry, fishing, and related activities',
'Nonfarm employment Private nonfarm employment Arts, entertainment, and recreation',
'Nonfarm employment Private nonfarm employment Accommodation and food services',
'Nonfarm employment Private nonfarm employment Other services (except government and government enterprises)',
'Government and government enterprises Federal civilian',
'Government and government enterprises Military',
'Government and government enterprises State and local State government',
'Government and government enterprises State and local Local government',
]

new_names = [
'- Wage and salary employment', 
'- Proprietors employment Farm proprietors employment',
'- Proprietors employmentNonfarm proprietors employment 2/',
'- Farm employment',
'- Nonfarm employment Private nonfarm employment Mining, quarrying, and oil and gas extraction',
'- Nonfarm employment Private nonfarm employment Utilities',
'- Nonfarm employment Private nonfarm employment Construction',
'Nonfarm employment Private nonfarm employment Manufacturing',
'- Nonfarm employment Private nonfarm employment Wholesale trade',
'- Nonfarm employment Private nonfarm employment Retail trade',
'Nonfarm employment Private nonfarm employment Information',
'Nonfarm employment Private nonfarm employment Finance and insurance',
'- Nonfarm employment Private nonfarm employment Real estate and rental and leasing',
'Nonfarm employment Private nonfarm employment Professional, scientific, and technical services',
'- Nonfarm employment Private nonfarm employment Management of companies and enterprises',
'- Nonfarm employment Private nonfarm employment Administrative and support and waste management and remediation services',
'Nonfarm employment Private nonfarm employment Educational services',
'Nonfarm employment Private nonfarm employment Health care and social assistance',
'- Nonfarm employment Private nonfarm employment Transportation and warehousing',
'- Nonfarm employment Private nonfarm employment Forestry, fishing, and related activities',
'- Nonfarm employment Private nonfarm employment Arts, entertainment, and recreation',
'- Nonfarm employment Private nonfarm employment Accommodation and food services',
'- Nonfarm employment Private nonfarm employment Other services (except government and government enterprises)',
'- Government and government enterprises Federal civilian',
'- Government and government enterprises Military',
'- Government and government enterprises State and local State government',
'- Government and government enterprises State and local Local government',
]

In [13]:
new_names2 = []
for i in range(len(new_names)):
    if new_names[i][0:2] != '- ':
        new_names2.append(new_names[i])
    else:
        new_names2.append('0')
        
new_names2

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'Nonfarm employment Private nonfarm employment Manufacturing',
 '0',
 '0',
 'Nonfarm employment Private nonfarm employment Information',
 'Nonfarm employment Private nonfarm employment Finance and insurance',
 '0',
 'Nonfarm employment Private nonfarm employment Professional, scientific, and technical services',
 '0',
 '0',
 'Nonfarm employment Private nonfarm employment Educational services',
 'Nonfarm employment Private nonfarm employment Health care and social assistance',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0']

In [14]:
repl = {x:y for [x, y ] in zip(new_keys, new_names2)}

In [15]:
df = df.replace(repl)
df.head()

,GeoName,Description,2016,2017,2018,2019,2020
0,Alabama (Metropolitan Portion),0,1643706,1664641,1686588,1711156,1643053
1,Alabama (Metropolitan Portion),0,17653,17142,16771,16389,16466
2,Alabama (Metropolitan Portion),0,423880,432197,447698,442971,428638
3,Alabama (Metropolitan Portion),0,21352,21534,20490,19416,19872
4,Alabama (Metropolitan Portion),0,8693,7939,7353,7000,6494

In [16]:
df2 = df[df['Description'] != '0']

df2

,GeoName,Description,2016,2017,2018,2019,2020
7,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,174402,176320,178476,179351,172203
10,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,23733,24106,24419,24201,22325
11,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,96244,97731,100114,97570,98867
13,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,132024,136100,140652,142288,143286
16,Alabama (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,36130,36651,35850,36894,34253
...,...,...,...,...,...,...,...
2230,Wyoming (Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,11838,11960,11994,12016,11989
2247,Wyoming (Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,2809,2845,2847,2714,2534
2248,Wyoming (Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,10881,11025,11702,11824,11356
2250,Wyoming (Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,11592,11766,12490,12866,12570
2252,Wyoming (Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,18016,18082,18643,18838,18591

In [17]:
# Determine value counts on GeoName column.
df2['GeoName'].value_counts()

Alabama (Metropolitan Portion)                6
New Jersey (Metropolitan Portion)             6
North Dakota (Metropolitan Portion)           6
North Carolina (Nonmetropolitan Portion) *    6
North Carolina (Metropolitan Portion)         6
                                             ..
Florida (Nonmetropolitan Portion) *           2
California (Nonmetropolitan Portion) *        2
Oklahoma (Nonmetropolitan Portion) *          2
Louisiana (Nonmetropolitan Portion) *         2
Nebraska (Nonmetropolitan Portion) *          1
Name: GeoName, Length: 96, dtype: int64

In [18]:
# Split GeoName. 
df2[['State', 'GeoName']] = df2['GeoName'].str.split('(', expand=True)

df2.head()

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,GeoName,Description,2016,2017,2018,2019,2020,State
7,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,174402,176320,178476,179351,172203,Alabama
10,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,23733,24106,24419,24201,22325,Alabama
11,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,96244,97731,100114,97570,98867,Alabama
13,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,132024,136100,140652,142288,143286,Alabama
16,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,36130,36651,35850,36894,34253,Alabama

In [19]:
# Reorder of columns in DataFrame. 
df3 = df2[['State', 'GeoName', 'Description', '2016', '2017', '2018', '2019', '2020']]
df3

,State,GeoName,Description,2016,2017,2018,2019,2020
7,Alabama,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,174402,176320,178476,179351,172203
10,Alabama,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,23733,24106,24419,24201,22325
11,Alabama,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,96244,97731,100114,97570,98867
13,Alabama,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,132024,136100,140652,142288,143286
16,Alabama,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,36130,36651,35850,36894,34253
...,...,...,...,...,...,...,...,...
2230,Wyoming,Metropolitan Portion),Nonfarm employment Private nonfarm employment ...,11838,11960,11994,12016,11989
2247,Wyoming,Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,2809,2845,2847,2714,2534
2248,Wyoming,Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,10881,11025,11702,11824,11356
2250,Wyoming,Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,11592,11766,12490,12866,12570
2252,Wyoming,Nonmetropolitan Portion) *,Nonfarm employment Private nonfarm employment ...,18016,18082,18643,18838,18591

In [20]:
# Replace values with '0'(Metropolitan Portion) and '1'(Nonmetropolitan Portion).
df3['GeoName'].replace(['Metropolitan Portion)', 'Nonmetropolitan Portion) *'], [0, 1], inplace= True)

# Display.
df3

/Users/gustavosanchez/opt/anaconda3/envs/GreatRes/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,State,GeoName,Description,2016,2017,2018,2019,2020
7,Alabama,0,Nonfarm employment Private nonfarm employment ...,174402,176320,178476,179351,172203
10,Alabama,0,Nonfarm employment Private nonfarm employment ...,23733,24106,24419,24201,22325
11,Alabama,0,Nonfarm employment Private nonfarm employment ...,96244,97731,100114,97570,98867
13,Alabama,0,Nonfarm employment Private nonfarm employment ...,132024,136100,140652,142288,143286
16,Alabama,0,Nonfarm employment Private nonfarm employment ...,36130,36651,35850,36894,34253
...,...,...,...,...,...,...,...,...
2230,Wyoming,0,Nonfarm employment Private nonfarm employment ...,11838,11960,11994,12016,11989
2247,Wyoming,1,Nonfarm employment Private nonfarm employment ...,2809,2845,2847,2714,2534
2248,Wyoming,1,Nonfarm employment Private nonfarm employment ...,10881,11025,11702,11824,11356
2250,Wyoming,1,Nonfarm employment Private nonfarm employment ...,11592,11766,12490,12866,12570
2252,Wyoming,1,Nonfarm employment Private nonfarm employment ...,18016,18082,18643,18838,18591

In [21]:
new_db = []
for i, row in df3.iterrows():
    new_db.append(["2016",row["State"],row["GeoName"], row["Description"], row["2016"]])
    new_db.append(["2017",row["State"],row["GeoName"], row["Description"], row["2017"]])
    new_db.append(["2018",row["State"],row["GeoName"], row["Description"], row["2018"]])
    new_db.append(["2019",row["State"],row["GeoName"], row["Description"], row["2019"]])
df_new = pd.DataFrame(new_db, columns=["Year", "State", "GeoName", "Description", "Total"])

In [22]:
df_new["Year"] = pd.to_datetime(df_new["Year"])

In [23]:
df_new.head()

,Year,State,GeoName,Description,Total
0,2016-01-01,Alabama,0,Nonfarm employment Private nonfarm employment ...,174402
1,2017-01-01,Alabama,0,Nonfarm employment Private nonfarm employment ...,176320
2,2018-01-01,Alabama,0,Nonfarm employment Private nonfarm employment ...,178476
3,2019-01-01,Alabama,0,Nonfarm employment Private nonfarm employment ...,179351
4,2016-01-01,Alabama,0,Nonfarm employment Private nonfarm employment ...,23733

In [24]:
# Label encode 'State' column. 
df_new['State'].unique()

array(['Alabama ', 'Alaska ', 'Arizona ', 'Arkansas ', 'California ',
       'Colorado ', 'Connecticut ', 'Delaware ', 'District of Columbia ',
       'Florida ', 'Georgia ', 'Hawaii ', 'Idaho ', 'Illinois ',
       'Indiana ', 'Iowa ', 'Kansas ', 'Kentucky ', 'Louisiana ',
       'Maine ', 'Maryland ', 'Massachusetts ', 'Michigan ', 'Minnesota ',
       'Mississippi ', 'Missouri ', 'Montana ', 'Nebraska ', 'Nevada ',
       'New Hampshire ', 'New Jersey ', 'New Mexico ', 'New York ',
       'North Carolina ', 'North Dakota ', 'Ohio ', 'Oklahoma ',
       'Oregon ', 'Pennsylvania ', 'Rhode Island ', 'South Carolina ',
       'South Dakota ', 'Tennessee ', 'Texas ', 'Utah ', 'Vermont ',
       'Virginia ', 'Washington ', 'West Virginia ', 'Wisconsin ',
       'Wyoming '], dtype=object)

In [25]:
# Label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in 'State' column.
df_new['State']= label_encoder.fit_transform(df_new['State'])
  
df_new['State'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [26]:
# Verify that the 'State' column has been encoded.
df_new.head(10)

,Year,State,GeoName,Description,Total
0,2016-01-01,0,0,Nonfarm employment Private nonfarm employment ...,174402
1,2017-01-01,0,0,Nonfarm employment Private nonfarm employment ...,176320
2,2018-01-01,0,0,Nonfarm employment Private nonfarm employment ...,178476
3,2019-01-01,0,0,Nonfarm employment Private nonfarm employment ...,179351
4,2016-01-01,0,0,Nonfarm employment Private nonfarm employment ...,23733
5,2017-01-01,0,0,Nonfarm employment Private nonfarm employment ...,24106
6,2018-01-01,0,0,Nonfarm employment Private nonfarm employment ...,24419
7,2019-01-01,0,0,Nonfarm employment Private nonfarm employment ...,24201
8,2016-01-01,0,0,Nonfarm employment Private nonfarm employment ...,96244
9,2017-01-01,0,0,Nonfarm employment Private nonfarm employment ...,97731

In [27]:
# Verify that the 'State' column has been encoded.
df_new.tail(10)

,Year,State,GeoName,Description,Total
1942,2018-01-01,50,1,Nonfarm employment Private nonfarm employment ...,11702
1943,2019-01-01,50,1,Nonfarm employment Private nonfarm employment ...,11824
1944,2016-01-01,50,1,Nonfarm employment Private nonfarm employment ...,11592
1945,2017-01-01,50,1,Nonfarm employment Private nonfarm employment ...,11766
1946,2018-01-01,50,1,Nonfarm employment Private nonfarm employment ...,12490
1947,2019-01-01,50,1,Nonfarm employment Private nonfarm employment ...,12866
1948,2016-01-01,50,1,Nonfarm employment Private nonfarm employment ...,18016
1949,2017-01-01,50,1,Nonfarm employment Private nonfarm employment ...,18082
1950,2018-01-01,50,1,Nonfarm employment Private nonfarm employment ...,18643
1951,2019-01-01,50,1,Nonfarm employment Private nonfarm employment ...,18838

In [28]:
# Label encode 'Description' column. Top three industries affected and least affected during 'The Great Resignation'
df_new['Description'].unique()

array(['Nonfarm employment Private nonfarm employment Manufacturing',
       'Nonfarm employment Private nonfarm employment Information',
       'Nonfarm employment Private nonfarm employment Finance and insurance',
       'Nonfarm employment Private nonfarm employment Professional, scientific, and technical services',
       'Nonfarm employment Private nonfarm employment Educational services',
       'Nonfarm employment Private nonfarm employment Health care and social assistance'],
      dtype=object)

In [29]:
# Label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in 'Description' column.
df_new['Description']= label_encoder.fit_transform(df_new['Description'])
  
df_new['Description'].unique()

array([4, 3, 1, 5, 0, 2])

In [30]:
# Verify that the 'Description' column has been encoded.
df_new.head(10)

        Year  State  GeoName  Description   Total
0 2016-01-01      0        0            4  174402
1 2017-01-01      0        0            4  176320
2 2018-01-01      0        0            4  178476
3 2019-01-01      0        0            4  179351
4 2016-01-01      0        0            3   23733
5 2017-01-01      0        0            3   24106
6 2018-01-01      0        0            3   24419
7 2019-01-01      0        0            3   24201
8 2016-01-01      0        0            1   96244
9 2017-01-01      0        0            1   97731

In [31]:
# Verify that the 'Description' column has been encoded.
df_new.tail(10)

           Year  State  GeoName  Description  Total
1942 2018-01-01     50        1            1  11702
1943 2019-01-01     50        1            1  11824
1944 2016-01-01     50        1            5  11592
1945 2017-01-01     50        1            5  11766
1946 2018-01-01     50        1            5  12490
1947 2019-01-01     50        1            5  12866
1948 2016-01-01     50        1            2  18016
1949 2017-01-01     50        1            2  18082
1950 2018-01-01     50        1            2  18643
1951 2019-01-01     50        1            2  18838

In [32]:
# Export time series csv file for future reference. 
df_new.to_csv('../Working Resources/Time_Series_LE_Geographic_Data.csv')

In [33]:
df_new.head()

        Year  State  GeoName  Description   Total
0 2016-01-01      0        0            4  174402
1 2017-01-01      0        0            4  176320
2 2018-01-01      0        0            4  178476
3 2019-01-01      0        0            4  179351
4 2016-01-01      0        0            3   23733

# SKFORECAST

In [34]:
# # df_new
# # Separate target values.
# y = df_new['Total']
# X = df_new('Total', axis=1)

# # Split our data into training and testing.
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=66)

# from sklearn.ensemble import GradientBoostingRegressor
# # X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
# reg = GradientBoostingRegressor(random_state=0)
# reg.fit(X_train, y_train)
# reg.predict(X_test[1:2])
# reg.score(X_test, y_test)

In [35]:
# Data preparation for SKFORECAST.
df_new['Year'] = pd.to_datetime(df_new['Year'], format='%Y/%m/%d')
df_new_forecast = df_new.set_index('Year', inplace=True)
# # df_new_forecast = df_new.asfreq('AS')
# df_new = df_new.sort_index()
df_new.head(10)

            State  GeoName  Description   Total
Year
2016-01-01      0        0            4  174402
2017-01-01      0        0            4  176320
2018-01-01      0        0            4  178476
2019-01-01      0        0            4  179351
2016-01-01      0        0            3   23733
2017-01-01      0        0            3   24106
2018-01-01      0        0            3   24419
2019-01-01      0        0            3   24201
2016-01-01      0        0            1   96244
2017-01-01      0        0            1   97731

In [36]:
# Check for missing values.
print(f'Number of rows with missing values: {df_new.isnull().any(axis=1).mean()}')

Number of rows with missing values: 0.0

In [37]:
# Verify that a temporary index is complete.
(df_new.index == pd.date_range(start= df_new.index.min(),
                             end= df_new.index.max(),
                             freq= df_new.index.freq)).all()

ValueError: Lengths must match

In [ ]:
# Split data into train-test
# ==============================================================================
steps = 12
data_train = df_new[:-steps]
data_test  = df_new[-steps:]

print(f"Train dates : {data_train.index.min()} --- {data_train.index.max()}  (n={len(data_train)})")
print(f"Test dates  : {data_test.index.min()} --- {data_test.index.max()}  (n={len(data_test)})")

fig, ax=plt.subplots(figsize=(9, 4))
data_train['Year'].plot(ax=ax, label='train')
data_test['Year'].plot(ax=ax, label='test')
ax.legend();

## ForecasterAutoreg

In [ ]:
# Create and train forecaster
# ==============================================================================
forecaster = ForecasterAutoreg(
                regressor = RandomForestRegressor(random_state=123),
                lags      = 6
             )

forecaster.fit(y=data_train['Year'])
forecaster

## Prediction

In [ ]:
# Predictions
# ==============================================================================
steps = 12
predictions = forecaster.predict(steps=steps)
predictions.head(5)

In [ ]:
# Plot
# ==============================================================================
fig, ax = plt.subplots(figsize=(9, 4))
data_train['Year'].plot(ax=ax, label='train')
data_test['Year'].plot(ax=ax, label='test')
predictions.plot(ax=ax, label='predictions')
ax.legend();

## Prediction error in the test set

In [ ]:
# Test error
# ==============================================================================
error_mse = mean_squared_error(
                y_true = data_test['y'],
                y_pred = predictions
            )

print(f"Test error (mse): {error_mse}")

## Hyperparameter tuning

In [ ]:
# Hyperparameter Grid search
# ==============================================================================
steps = 36
forecaster = ForecasterAutoreg(
                regressor = RandomForestRegressor(random_state=123),
                lags      = 12 # This value will be replaced in the grid search
             )

# Lags used as predictors
lags_grid = [10, 20]

# Regressor's hyperparameters
param_grid = {'n_estimators': [100, 500],
              'max_depth': [3, 5, 10]}

results_grid = grid_search_forecaster(
                        forecaster         = forecaster,
                        y                  = data_train['y'],
                        param_grid         = param_grid,
                        lags_grid          = lags_grid,
                        steps              = steps,
                        refit              = True,
                        metric             = 'mean_squared_error',
                        initial_train_size = int(len(data_train)*0.5),
                        fixed_train_size   = False,
                        return_best        = True,
                        verbose            = False
               )

In [ ]:
# Grid Search results
# ==============================================================================
results_grid

## Final model